<p style='color: green'><%= notice %></p>

<h1>Usuários</h1>
<div id='users'>
  <% @users.each do |user| %>
    <p>
      <strong>E-mail:</strong>
      <%= user.email %>
    </p>
    <p>
      <%= link_to 'Visualizar usuário', user %>
    </p>
  <% end %>
</div>

<%= link_to 'Novo usuário', new_user_path %>
