<h1 class='title'>Usuário</h1>

<%= render partial: 'user', user: @user %>

<div>
  <%= link_to 'Editar usuário', edit_user_path(@user) %> 
  <%= link_to 'Voltar', users_path %>

  <%= button_to 'Excluir usuário', @user, method: :delete %>
</div>
