<h1 class='title'>Usu치rio</h1>

<%= render partial: 'user', user: @user %>

<div>
  <%= link_to 'Editar usu치rio', edit_user_path(@user) %> 
  <%= link_to 'Lista de usu치rios', users_path %>

  <%= button_to 'Excluir usu치rio', @user, method: :delete %>
</div>
